In [1]:
import numpy as np

from utils.cox_hazard_generating import time_failure_calculation

In [2]:
beta_list= [-0.8, 1.2]

In [3]:
n_generate = 2 # the number of samples want to generate
k = 1.5 # Sharp para
g = 1.0 # Scale para or called lambda

In [4]:
z_generated, features_df, list_failure_time, full_generated_data = time_failure_calculation(n_generate = 2, features=[[-0.2000001,-0.200000], [2.5000000, 2.50000001]], path="", beta_list=beta_list, k=1.5, g=1.0)

In [5]:
full_generated_data

     0    1  duration
0 -0.2  2.5  0.034718
1 -0.2  2.5  0.100828

In [6]:
z_generated

     0    1
0 -0.2  2.5
1 -0.2  2.5

In [7]:
list_failure_time

   duration
0  0.034718
1  0.100828

In [16]:
PATH = "/Users/davidlee/Documents/GitHub/Surtimesurvival/Data Project/Auton Lib/metabric_data_merged_adsgan_auton.csv"

In [17]:
# For testing - we can do generate a list of Beta in this function
beta_list = np.random.uniform(-1, 5, 83) # because metabric_data_merged_adsgan_auton have 83 features - to save time we have generated random 83 numbers between -1 and 5

In [18]:
z_generated, features_df, list_failure_time, full_generated_data = time_failure_calculation(n_generate = 100, features=[], path=PATH, beta_list=beta_list, k=k, g=g)

In [19]:
full_generated_data

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,duration
0,0.193268,-0.563074,2.091190,3.537291,-1.401275,0.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.218417e-29
1,0.790278,10.398203,8.056493,4.110139,1.009240,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,3.076131e-48
2,-0.001453,-0.276885,9.912513,-1.228328,1.528347,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,2.183636e-30
3,-0.665803,5.592067,9.415078,-0.629059,-0.470754,1.0,1.0,1.0,0.0,1.0,...,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.456841e-44
4,-2.230891,10.506086,0.111869,0.194335,0.134460,0.0,1.0,1.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,4.757152e-34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.156178,9.038081,2.428416,0.807091,-0.111033,1.0,1.0,0.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.417297e-31
96,0.910562,6.943409,2.987084,1.377223,-0.366445,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,5.227853e-33
97,1.043057,8.966669,9.888892,-0.019101,-0.442063,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,8.926125e-40
98,2.077279,0.450234,7.866230,3.449743,-0.553743,1.0,0.0,1.0,1.0,1.0,...,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.373299e-36
99,-0.853502,7.385955,0.053998,3.516125,-0.323247,0.0,1.0,1.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,9.295566e-34